body {
    background: #2d3547;
}

.main {
    margin: 0 auto;
    width: 300px;
    height: 420px;
    background-color: #21293a;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.display{
    width: 270px;
    background-color: #21293a;
    color: #FFFFFF;
    text-align: right;
    border: none;
    font-size: 50px;
    border-bottom: 1px solid #ccc;
    padding-left: 25px;
}

.operator {
    background-color: #21293a;
    border: none;
    color: #2ee1e8;
    font-size: 35px;
    width: 70px;
    height: 70px;
}